body{
  margin: 0;
}
.main {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.nav,
.header,
.container,
.footer {
  width: 100%;
}
.nav {
  background: red;
  float: left;
}
.navleft {
  float: left;
  width: 80%;
}
.navright {
  float: right;
  text-align: right;
  width: 20%;
}
.search-button {
  border: 0;
  background-color: transparent;
}
.fa {
  padding: 15px;
  color: white;
}
a {
  font-size: 1.5em;
  text-decoration: none;
}

.content {
  flex-grow: 8;
  overflow-y: scroll;
}
.header {
  height: 30%;
  margin: 2% 2% 2% 3%;
  width: 90%;
}
.container {
  width: 100%;
  display: flex;
  height: 50%;
  flex-wrap: wrap;
}
.image {
  margin: 30px;
  width: 20%;
  text-align: center;
}
img {
  width: 250px;
}
.footer {
  background: red;
  color: white;
}

/*@media only screen and (max-width: 600px) {*/
.container {
  width: 100%;
  display: flex;
  height: 50%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.image {
  margin: 10px;
  width: 250px;
  text-align: center;
}
img {
  display: inline-block;
  width: 90%;
}
