main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
section{
    background: darkblue;
    border: 2px solid red;
    color: white;
    margin: 1rem;
    padding: 5rem;
    flex-grow: 1;
    text-align: center;

}
section:last-child{
flex-grow: 0;
flex-shrink: 1;
flex-basis: 250px;
}