html, body{
    height:100%;
    text-align: left;
}
body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    outline:1px solid green;
    grid-template-rows: 40% 55% 5%;
    
}
header{
    background-image: url("sushi.jpg");
    grid-column-start: 1;
    grid-column-end: 4;
    background-size: 100% 100%;
    background-position: center center;  
    background-repeat: no-repeat; 
}
nav{
    background-color: aliceblue;
    padding-left: 2rem;
    grid-column-start: 1;
    grid-column-end: 2;

}
main{
    background-color: rgb(219, 198, 210);
    padding-left: 2rem;
grid-column-start: 2;
grid-column-end: 4;

}
footer{
    grid-column-start: 1;
    grid-column-end: 4;
    
}
h1{
    background:rgb(212, 230, 214);
    opacity: 0.8;
    margin: 130px auto 0 auto;
    padding:15px;
    width:100%;
    text-align: center;
}
p{
    font-size: 1.5rem;
}
li{
    font-size: 1.5rem;
}